TURSO_DATABASE_URL="http://127.0.0.1:8080"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

BETTER_AUTH_SECRET=

PUSHER_APP_ID=
NEXT_PUBLIC_PUSHER_KEY=
PUSHER_SECRET=
NEXT_PUBLIC_PUSHER_REGION=

# Optional for local (mandatory for production-ready)
# TURSO_AUTH_TOKEN=